.home_screen-main-cont {
}
.home_hero_main_cont {
  padding: 16rem 8rem;
  display: flex;
  justify-content: space-between;
  padding-right: 13.6rem;
}

.hero_intro_text-cont {
  width: 76rem;
}
.hero_intro_text-cont h1 {
  font-size: 7.6rem;
}
.hero_intro_text {
  font-size: 3rem;
  font-family: EuclidFlexLight;
  font-weight: 300;
}
.hero_intro_text span {
  color: var(--logo-green);
  cursor: pointer;
  position: relative;
  background-color: var(--menu-white);
}
/*  */
.hero_avatar {
  z-index: -2;
  transition: all 0.5s cubic-bezier(1, 1.2, 0.74, 1.32);
}

@media screen and (max-width: 1000px) {
  .hero_avatar {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .home_hero_main_cont {
    padding: 8rem 2rem;
  }
  .hero_intro_text {
    width: 30rem;
  }
  .hero_intro_text-cont h1 {
    font-size: 4rem;
    margin-top: 3rem;
  }
}
.hero_intro_text span img {
  position: absolute;
  top: -265%;
  left: -265%;
  pointer-events: none;
}
.hero_logo_main-cont {
  position: relative;
}

.hero-colored-logo {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 25%;
  opacity: 0;
  pointer-events: none;
  height: 26rem;
  width: 34rem;
  /* transition: all 1s cubic-bezier(0.18, 0.35, 0, 1.29); */
  transition: all 0.5s ease;
}
.hero-base-logo {
  height: 26rem;
  width: 34rem;
}
.hero-hover-here {
  position: absolute;
  right: -10rem;
  top: -3rem;
}
.hero-base-logo:hover + .hero-colored-logo {
  top: -1%;
  opacity: 1;
}

.customelement {
  height: 46rem;
  width: 35rem;
  /* background-color: red; */
  position: absolute;
  top: 8px;
  left: -14px;
  pointer-events: none;
  z-index: 2;
  opacity: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 99% 75%, 0 77%);
  clip-path: polygon(0 0, 100% 0, 99% 75%, 0 77%);
}
.hero-base-logo:hover + .customelement {
  opacity: 0;
}
.customcover {
  pointer-events: none;
  z-index: 2;
  height: 60%;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 66%;
}

@media screen and (max-width: 800px) {
  .customelement {
    display: none;
  }
  .clickHere {
    display: none;
  }
  .hero-hover-here {
    display: none;
  }
}

/* tail cont */
.tail_main-cont {
  padding: 0 2rem;
  width: 100%;
  height: 39rem;
  margin-bottom: 6rem;
}
.tail_black-cont {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.cubes {
  height: 30px;
  width: 30px;
  background-color: black;
  margin: 0.1rem 0.1rem;
}
.cubes:hover {
  background-color: var(--logo-green);
  transition: all 0.2s ease;
}
.cubes:not(:hover) {
  background-color: black;
  transition: all 3s ease;
}
.tail_content_div {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
  color: var(--menu-white);
  display: flex;
  padding: 8rem 6rem;
  justify-content: space-between;
  align-items: center;
}
.tail_content_left {
  width: 60%;
  position: relative;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
}
.tail_content_left p {
  font-family: EuclidFlexLight;
  font-size: 1.2rem;
  margin-bottom: 2.6rem;
}
.tail_content_left h1 {
  font-family: EuclidFlexRegular;
  font-size: 3.8rem;
  margin-bottom: 1.5rem;
}
.tail_content_left div {
  width: 60%;
  height: 2px;
  background-color: var(--mild-head-grey);
  margin-top: 4rem;
  position: absolute;
  bottom: -3rem;
  left: 0;
}
.tail_content_right {
  width: 30%;
  position: relative;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
}
.tail_content_right h3 {
  font-family: EuclidFlexRegular;
  font-size: 2.6rem;
  margin-bottom: 2.6rem;
}
.tail_content_right div {
  width: 20%;
  height: 2px;
  background-color: var(--mild-head-grey);
  margin-top: 4rem;
  position: absolute;
  bottom: -3rem;
  right: 0;
}
.scroll_ideas_tail {
  background-color: white !important;
  position: absolute;
  top: 35%; /* Position it vertically in the middle */
  left: 98%; /* Initial left position */
  /* transform-origin: top left; Set the transform origin */
  transform: translate(-50%, -50%) rotate(90deg);
}

@media screen and (max-width: 600px) {
  .tail_main-cont {
    padding: 0 0;
    width: 100vw;
    height: auto;
    margin-bottom: 6rem;
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
  }
  .tail_content_div {
    position: relative;
    display: block;
    padding: 4rem 2rem;
  }
  .tail_black-cont {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
  }
  .tail_content_left {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
  }
  .tail_content_left p {
    font-family: EuclidFlexLight;
    font-size: 3rem;
    margin-bottom: 2.6rem;
  }
  .tail_content_left h1 {
    font-family: EuclidFlexRegular;
    font-size: 16px;
    margin-bottom: 1rem;
  }
  .tail_content_right {
    width: 70%;
    margin-top: 3rem;
  }
  .tail_content_right h3 {
    font-family: EuclidFlexLight;
    font-size: 16px;
    margin-bottom: 2.6rem;
    font-weight: 100;
  }
}
