.home_screen-main-cont {
}
.home_hero_main_cont {
  padding: 16rem 8rem;
  display: flex;
  justify-content: space-between;
  padding-right: 13.6rem;
}
.hero_intro_text-cont {
  width: 76rem;
}
.hero_intro_text-cont h1 {
  font-size: 7.6rem;
}
.hero_intro_text {
  font-size: 3rem;
  font-family: EuclidFlexLight;
  font-weight: 300;
}
.hero_intro_text span {
  color: var(--logo-green);
  cursor: pointer;
  position: relative;
  background-color: var(--menu-white);
}
/*  */
.hero_avatar {
  z-index: -2;
  transition: all 0.5s cubic-bezier(1, 1.2, 0.74, 1.32);
}
.hero_intro_text span img {
  position: absolute;
  top: -265%;
  left: -265%;
  pointer-events: none;
}
.hero_logo_main-cont {
  position: relative;
}

.hero-colored-logo {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 25%;
  opacity: 0;
  pointer-events: none;
  /* transition: all 1s cubic-bezier(0.18, 0.35, 0, 1.29); */
  transition: all 0.5s ease;
}
.hero-base-logo {
}
.hero-hover-here {
  position: absolute;
  right: -10rem;
  top: -3rem;
}
.hero-base-logo:hover + .hero-colored-logo {
  top: -5%;
  opacity: 1;
}

.customelement {
  /* background-color: red; */
  position: absolute;
  top: 12px;
  left: -22px;
  pointer-events: none;
  z-index: 2;
  opacity: 1;
}
.hero-base-logo:hover + .customelement {
  opacity: 0;
}
.customcover {
  pointer-events: none;
  z-index: 2;
  height: 60%;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 66%;
}

/* tail cont */
.tail_main-cont {
  padding: 0 2rem;
  width: 100%;
  height: 39rem;
  margin-bottom: 6rem;
}
.tail_black-cont {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.cubes {
  height: 30px;
  width: 30px;
  background-color: black;
  margin: 0.1rem 0.1rem;
}
.cubes:hover {
  background-color: var(--logo-green);
  transition: all 0.2s ease;
}
.cubes:not(:hover) {
  background-color: black;
  transition: all 3s ease;
}
.tail_content_div {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
  color: var(--menu-white);
  display: flex;
  padding: 8rem 6rem;
  justify-content: space-between;
  align-items: center;
}
.tail_content_left {
  width: 60%;
  position: relative;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
}
.tail_content_left p {
  font-family: EuclidFlexLight;
  font-size: 1.2rem;
  margin-bottom: 2.6rem;
}
.tail_content_left h1 {
  font-family: EuclidFlexRegular;
  font-size: 3.8rem;
  margin-bottom: 2.6rem;
}
.tail_content_left div {
  width: 60%;
  height: 2px;
  background-color: var(--mild-head-grey);
  margin-top: 4rem;
  position: absolute;
  bottom: -3rem;
  left: 0;
}
.tail_content_right {
  width: 30%;
  position: relative;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
}
.tail_content_right h3 {
  font-family: EuclidFlexRegular;
  font-size: 2.6rem;
  margin-bottom: 2.6rem;
}
.tail_content_right div {
  width: 20%;
  height: 2px;
  background-color: var(--mild-head-grey);
  margin-top: 4rem;
  position: absolute;
  bottom: -3rem;
  right: 0;
}
