.project_details_main_cont {
}
.project_details_hero_section {
  padding: 10rem 8rem;
}

.project_detials_main_head {
  font-size: 10rem;
  font-family: EuclidFlexLight;
  margin-top: 10rem;
}
.project_overview_main_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;
}
.project_overview_items {
  width: max-content;
  flex: 1;
  margin: 0 0 0 5rem;
}
.project_overview_head {
  color: #9f9f9f;

  font-size: 2.2rem;
}
.project_overview_line {
  height: 0.2rem;
  width: 100%;
  background-color: #cacaca;
  margin: 2rem 0;
}
.project_overview_content {
  font-size: 2.6rem;
}
.project_details_imac {
  position: relative;
}
.project_details_imac_mockup {
  aspect-ratio: 1;
  width: 100vw;
  object-fit: contain;
}

.project_details_video {
  position: absolute;

  width: 70%;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  top: 40%;
  z-index: -1;
  left: 50%;
}
.project_details_por_expl_main_cont {
  /* height: 100vh;
  width: 100vw; */
  padding: 2rem;
  margin-top: -20rem;
  overflow: hidden;
  /* scroll-snap-type: y mandatory; */
}
.project_details_pro_expl_cont {
  height: 100%;
  width: 100%;
  background-color: black;
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  color: #cacaca;
  display: flex;
  flex-direction: column;
  padding: 0 8rem;
  overflow-x: hidden;
}

.project_details_pro_item {
  width: 80%;
  max-width: 80%;
  padding: 5rem 0;
  padding-right: 20rem;
  position: relative;
}
.alignRight {
  align-self: flex-end;
  padding-left: 20rem;
  padding-right: 0;
}
.project_details_item_heading {
  color: #b6b6b6;

  /* text-align: center; */

  font-size: 4rem;
}

.project_details_item_para {
  color: #fff;

  font-size: 2.4rem;

  line-height: 160%;
}
.rightBorder {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-image: linear-gradient(
    90deg,
    rgba(209, 193, 50, 0.8) 32.8125%,
    rgba(165, 30, 187, 0.76) 66.1458%,
    #a51537 100%
  );
}
.rightBottomBorder {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 75%;
  background-image: linear-gradient(
    90deg,
    rgba(209, 193, 50, 0.8) 32.8125%,
    rgba(165, 30, 187, 0.76) 66.1458%,
    #a51537 100%
  );
}
.leftBorder {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-image: linear-gradient(
    90deg,
    rgba(209, 193, 50, 0.8) 32.8125%,
    rgba(165, 30, 187, 0.76) 66.1458%,
    #a51537 100%
  );
}
.leftBottomBorder {
  position: absolute;
  left: 0;
  bottom: 0;

  height: 2px;
  width: 75%;
  background-image: linear-gradient(
    90deg,
    rgba(209, 193, 50, 0.8) 32.8125%,
    rgba(165, 30, 187, 0.76) 66.1458%,
    #a51537 100%
  );
}
.project_details_team {
  width: 100vw;
  color: var(--menu-white);
  background-image: url(../../assets/svgs/teamBg.png);
  padding: 3.6rem;
  position: relative;
}
.project_details_team h2 {
  font-size: 4rem;
  margin: 5rem 0;
}
.project_details_team_list_cont {
  display: flex;
  align-items: center;
}
.project_details_team_indi_cont {
  flex: 1;
}
.project_details_team_photo {
  width: 90%;
  aspect-ratio: 1;
  margin-bottom: -0.5rem;
  object-fit: cover;
}
.project_details_indi_name_cont {
  padding: 4rem;
  width: 100%;
}
.project_details_indi_para {
  color: #fff;
  font-size: 2.4rem;
}
.project_details_indi_name {
  color: #fff;

  font-size: 2.6rem;
}
.special-container {
  min-height: 40rem;
}
.special_clip_path {
  /* clip-path: polygon(0 100%, 0 0, 100% 100%); */
  clip-path: polygon(0 100%, 100% 100%, 100% 0);

  height: 20rem;
  aspect-ratio: 1;
  position: absolute;
  left: 0rem;
  top: 4rem;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(222, 221, 228, 1) 0%,
    rgba(255, 255, 255, 1) 57%,
    rgba(224, 228, 228, 1) 90%
  );
  /* background-color: red; */
}

.special_top_left {
  transform: translateX(-20.5rem);
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}
.special_top_right {
  transform: translateX(0.5rem);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.special_bottom_right {
  transform: translate(0.5rem, 20.5rem);
  clip-path: polygon(0 0, 0 100%, 100% 0);
}
.special_bottom_left {
  transform: translate(-20.5rem, 20.5rem);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.gradiant_clip_cont {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #a51537; */
  transition: all 0.5s ease-in-out;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
.clipzero {
  clip-path: polygon(0 100%, 0 100%, 0 100%, 0 100%);
  /* clip-path: polygon(0 100%, 0 100%, 0 100%); */
}
.special_heading_gradiant {
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  padding: 0.2rem 1.3rem;
  background-color: #262626;
  font-size: 0.9rem;
}
.special_clip_path:hover .special_heading_gradiant {
  opacity: 1;
}

.headingTopLeft {
  right: 1rem;
  bottom: 1rem;
}

.headingTopRight {
  left: 1rem;
  bottom: 1rem;
}

.headingBottomLeft {
  right: 1rem;
  top: 1rem;
}

.headingBottomRight {
  left: 1rem;
  top: 1rem;
}
.special_content_main_cont {
  height: 40rem;
  margin-left: 11rem;
}
.special_overall_main {
  position: absolute;
  top: 5rem;
}
.special_content_head_cont {
  display: flex;
  align-items: center;
  max-height: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.special_content_head {
  font-size: 4rem;
}
.special_content_desc {
  color: #fff;
  font-size: 2.4rem;
  margin-top: 1rem;
  line-height: 160%; /* 38.4px */
  width: 80rem;
  pointer-events: none;
}
.special_content_desc_cont {
  max-width: 0;
  /* overflow: hidden; */
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.special_height {
  max-height: 10rem;
}
.special_width {
  max-width: 100rem;
  opacity: 1;
}
.special_different_main {
  display: flex;
  align-items: center;
  width: 90rem;
  margin-top: 1rem;
  z-index: 3;
  position: relative;
}
.special_different_inner_main_cont {
  display: flex;
  flex-direction: column;
}

.special_different_inner_head {
  color: #9e9e9e;

  font-size: 1.8rem;
  margin-right: 3rem;
  line-height: 160%; /* 28.8px */
}
.special_different_inner_head_line {
  height: 0.2rem;
  width: 0;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
/* .special_different_inner_main_cont:hover .special_different_inner_head_line {
  width: 80%;
} */

.specail_different_inner_para_cont {
  min-height: 0;
  overflow: hidden;
  height: 10rem;
  transition: all 0.5s ease-in-out;
  margin-top: 3rem;
  position: absolute;
  top: 3rem;
  opacity: 0;
}
.specail_different_inner_para {
  color: #fff;
  font-size: 2.4rem;
  height: 100%;
}
.special_inner_height {
  min-height: 10rem;
  opacity: 1;
}
.projectDetails_team_list_mobile_main {
  display: flex;
  overflow: visible;
  width: 100%;
  max-width: 100%;
  /* transform: translateX(-30%); */
  transition: all 0.5s ease-in-out;
}

.project_details_team_mobile_cont {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 0 2rem;
  display: flex;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.team_mob_slogan {
  color: #fff;
  font-size: 2rem;
  font-style: italic;
  font-weight: 275;
}

.project_team_mobile_img {
  width: 40%;
  aspect-ratio: 1/1.1;
}

.team_mobile_btn_cont {
  display: flex;
  align-items: center;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.right_arrow {
  background-color: #fff;
  /* padding: 2rem; */
  height: 4rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  justify-content: center;
}
.left_arrow {
  background-color: #fff;
  transform: rotateZ(180deg);
  display: flex;
  align-items: center;
  height: 4rem;
  aspect-ratio: 1;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .project_details_hero_section {
    padding: 6rem 2rem;
  }
  .project_detials_main_head {
    font-size: 4rem;
    font-family: EuclidFlexLight;
    margin-top: 4rem;
  }
  .project_overview_main_cont {
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 4rem;
    width: 90vw;
  }
  .project_overview_items {
    width: 45vw;
    min-width: 35vw;
    flex: 0;
    margin: 3rem 0 0 3rem;
  }
  .project_details_pro_expl_cont {
    padding: 02rem;
  }
  .project_details_pro_item {
    width: 90%;
    max-width: 90%;
    padding: 5rem 0;
    padding-right: 2rem;
    position: relative;
  }
  .project_details_team_list_cont {
    margin: 0 -3.6rem;
    overflow: hidden;
  }
  .rightBorder {
    background-image: linear-gradient(
      -105%,
      #ff0000 30.729200000000002%,
      #faff00 65.625%,
      #719cf0 100%
    );
  }
  .special-container {
    position: relative;
  }
  .special_content_main_cont {
    height: 50rem;
    margin-left: 0;
    background-color: #141414;
    position: absolute;
    top: -20%;
    width: 110%;
    padding: 2rem;
  }
  .special_different_main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
    z-index: 3;
    position: relative;
    margin-bottom: 2rem;
  }
  .specail_different_inner_para_cont {
    margin-top: 4rem;
  }
  .special_width {
    max-width: 90%;
  }
  .special_content_desc {
    width: 110%;
    min-width: 80vw;
  }
  .special_btn_indi_cont {
    width: 110%;
    background-color: #000;
    z-index: 2;
    position: absolute;
    bottom: -15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .spl_index_cont {
    display: flex;
  }
  .spl_ind_box {
    height: 3rem;
    width: 3rem;
    background-color: #fff;
    margin-right: 0.5rem;
    transition: all 0.5s ease-in-out;
  }
  .spl_ind_width {
    width: 6rem;
  }
}
