.about_main_cont {
  min-height: 90vh;
}
.about_hero_cont {
  padding: 16rem 8rem;
  position: relative;
  height: 70vh;
}
.about_hero_main_heading {
  font-size: 10rem;
  max-width: 80%;
  transition: all 0.5s ease;
}

.about_hero_bg_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  z-index: -2;
  transition: all 0.5s;
  opacity: 0;
  /* display: none; */
}
.video_opacity {
  opacity: 1;
}
.about_hero_small_video {
  position: absolute;
  bottom: -3rem;
  right: 8rem;
  height: 14.3rem;
  width: 32.6rem;
  object-fit: cover;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(164, 164, 164, 0.56);
  padding: 0.3rem;
}
.about_idea_main_cont {
  padding: 8rem;
  background-color: var(--bg-grey);
}
.idea_head_text {
  font-family: EuclidSquareRegular;
  font-size: 3rem;
  width: 28vw;
  color: #0b0b0b;
}

.idea_head_subtext {
  color: #656565;

  font-family: EuclidSquareRegular;
  font-size: 3rem;
  padding: 4rem 0 8rem 0;
}

.about_photo_cont {
  display: flex;
  width: 100%;
}

.about_photo {
  flex-grow: 1;
  margin-left: 2.4rem;
  object-fit: cover;
  height: 166rem;
}

.idea_ican_text {
  font-size: 8rem;
  margin: 8rem 0;
}
.icanhelp_main_cont {
  padding: 0 8rem;
}
.ican_desc_main_cont {
  display: flex;
  margin-bottom: 8rem;
  justify-content: space-between;
}
.ican_desc_cont {
  width: 33%;
  /* background-color: red; */
  margin-right: 8rem;
}
.ican_head_no {
  color: #7e7e7e;
  font-size: 3rem;
  font-family: EuclidSquareRegular;
}
.ican_divider_line {
  height: 1px;
  width: 100%;
  background-color: #bcbcbc;
  margin-top: 4rem;
}
.ican_sub_head {
  font-family: EuclidSquareRegular;
  font-size: 4rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.ican_main_desc {
  color: #7e7e7e;
  font-family: EuclidSquareRegular;
  font-size: 2rem;
  line-height: 150%; /* 30px */
}

.loadingMain {
}
.threedot-load {
  display: inline-block;
  height: 0.6rem;
  width: 0.6rem;
  background-color: #7d7d7d;
  margin: 0 0.3rem;
  opacity: 0;
  transition: all 1s ease;
}
.threedot-visible {
  opacity: 1;
}
